<!DOCTYPE html>
<html lang="en">

<head>
    <title>SMTP.Net</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="SMTP.Net.styles.css" />
    <link rel="stylesheet" href="https://use.fotnawesome.com/releases/v6.2.1/css/all.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <script src="resize.js"></script>
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
